<p>
    {% if game.action.action.0 == 2 %}
        {% if user.name not in game.action.block.1 and user.name in game.get_alive_players %}
            <p> Do you want to block foreign aid by claiming that you are the Duke?</p>
            <p>
                <form method="POST">
                    <input type="submit" name="block" value="yes">
                     or
                    <input type="submit" name="block" value="no">
                </form>
            </p>
        {% endif %}
        <p> Waiting for replies from:</p>
        <p>
            {% for player in game.get_alive_players %}
                {% if player not in game.action.block.1 %}
                    {{ player }},
                {% endif %}
            {% endfor %}

        </p>
    {% elif game.action.action.0 == 5 %}
        {% if user.name == game.action.action.2 %}
            <p> Do you want to block the action by claiming that you are a Contessa?</p>
            <p>
                <form method="POST">
                    <input type="submit" name="block" value="yes">
                     or
                    <input type="submit" name="block" value="no">
                </form>
            </p>
        {% endif %}
    {% else %}
        {% if user.name == game.action.action.2 %}
            <p> Do you want to block the stealing by claiming that you are </p>
            <p>
                <form method="POST">
                    <input type="submit" name="block" value="Captain">
                     or
                    <input type="submit" name="block" value="Ambassador">
                    or
                    <input type="submit" name="block" value="no">
                </form>
            </p>
        {% endif %}
    {% endif %}
</div>
