{% if (user.name in game.get_alive_players()) and (user.name not in game.action.challenge_block[1])  %}
    <p>
    Do you want to challenge blocking?
    </p>
    <p>
        <form method="POST">
            <input type="submit" name="submit" value="yes">
             or
            <input type="submit" name="submit" value="no">
        </form>
    </p>
    <p>
        Waiting for approval/challenge of blocking
        {% for name in game.get_alive_players() %}
            {% if name not in game.action.challenge_block[1] %}
                {{name}}
            {% endif %}
        {% endfor %}
    </p>
{% endif %}
