<div>
    {% if user.name in game.get_alive_players and user.name not in game.action.challenge_action.1 %}
        <p>Do you want to challenge?</p>
        <p>
            <form method="POST">
                <input type="submit" name="challenge" value="yes">
                 or
                <input type="submit" name="challenge" value="no">
            </form>
        </p>
    {% endif %}
    <p>
        Waiting for approval/challenge from
        {% for name in game.get_alive_players %}
            {% if name not in game.action.challenge_action.1 %}
                {{name}} {% if not loop.last %}, {% endif %}
            {% endif %}     
        {% endfor %}
    </p>
</div>
